{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <h2>Default Daily schedules</h2>

  <h3>Select Customer and Day of week</h3>
  <form method="post">
    <div class="row">
        {% csrf_token %}
      <div class="col-12">
          {{ form|as_crispy_errors }}
      </div>
      <div class="col-6">
          {{ form.customer|as_crispy_field }}
      </div>
      <div class="col-6">
          {{ form.day_of_week|as_crispy_field }}
      </div>
    </div>
    <button class="btn btn-info" type="submit">Open</button>
  </form>
{% endblock %}

