<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Meal</th>
    <th scope="col">Plan Type</th>
    <th scope="col">Breakfast</th>
    <th scope="col"># Ingredients</th>
    <th scope="col"># Modifiers</th>
  </tr>
  </thead>
  <tbody>
  {% for meal in meal_list %}
    <tr data-href="{% url 'meal-detail' meal.id %}"
        {% if meal.ingredients.count == 0 %}class="table-warning" title="No ingredients"{% endif %}
    >
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ meal.name }}</td>
      <td>{{ meal.plan_type.name }}</td>
      <td>{% include 'core/yes_no_icon.html' with value=meal.breakfast %}</td>
      <td>{{ meal.ingredients.count }}</td>
      <td>{{ meal.mods.count }}</td>
    </tr>
      {% empty %}
    <tr>
      <td colspan="6" class="text-center">No Meals</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
